{% extends 'home.html' %}

{% block title %}My Courses{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2>My courses</h2>
<table class="table table-stripped table-responsive-md btn-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Registered</th>
    </tr>
    </thead>
    <tbody>
    {% for regi in registration %}
    {% for course in courses %}
    {% if regi.course.id == course.id %}
    {% if not regi.canceled %}
        <tr>
        <td>{{ course.name }}</td>
        <td><small style="color: #888">{{ course.description }}</small></td>
        <td>{{ course.start_date }}</td>
        <td>{{ course.end_date }}</td>
        <td><a class="btn btn-danger" href="/unregister/{{ course.id }}">Unregister</button></td>
        </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock %}